.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.png') no-repeat 50%/cover;
    padding-top: 205px;

    &__title {
        color: white;
        width: 535px;
        margin-top: 10px;
    }

    &__subtitle {
        color: white;
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;

    }

    &__btns {
        margin-top: 25px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    &__link {
        color: #ffffff;
        font-weight: bold;

        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }
}