.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;

    &_fz14 {
        font-size: 14px;
        line-height: 21px;
    }

    &_fz16 {
        font-size: 16px;
        line-height: 24px;
    }

    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }

    &_fz48 {
        font-size: 48px;
    }

    &__section {
        &-subtitle {

            text-align: center;
            position: relative;

            @include before_circle;

            &::before {
                top: -6px;
                left: 50%;
                transform: translateX(-50%);
            }

        }

        &-before {

            position: relative;
            padding-left: 12px;
            z-index: 2;
            @include before_circle;
        }

        &-title {
            text-align: center;
        }
    }

    &_policy {
        text-align: center;
        padding-top: 30px;
    }
}

.text {
    font-size: 12px;
    line-height: 18px;

    &_fz13 {
        font-size: 13px;
        line-height: 15px;
    }
}